<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>Zhaslan Doschanov</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->


	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ChartSearchActivator
	</activator>
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRChartSearchService">
				<param name="class" value="${project.parent.groupId}.${project.parent.artifactId}.web.DWRChartSearchService"/>
				<include method="findObsAndCount" />
			</create>
		</allow>
	</dwr>


	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList
		</class>
	</extension>

	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PatientDashboardChartSearchTab
		</class>
	</extension>

	<!-- Filter definitions -->

	<!-- <filter>
		<filter-name>ChartSearchDataImportFilter</filter-name>
		<filter-class>org.apache.solr.servlet.SolrDispatchFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChartSearchDataImportFilter</filter-name>
		<url-pattern>/dataimport</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ChartSearchSelectFilter</filter-name>
		<filter-class>org.apache.solr.servlet.SolrDispatchFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChartSearchSelectFilter</filter-name>
		<url-pattern>/select</url-pattern>
	</filter-mapping> -->

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>

		ChartSearch.hbm.xml

	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

