#chartSearchResults {
	width: 600px;
	float: left;
	margin: 0;
}
/*
#chartSearchResults .box,
#chartSearchResults  .boxHeader {
	box-sizing: border-box;
}*/

#chartSearchDetails {
	margin-left: 605px;
	border: 1px solid #1aac9b;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	font-size: 16px;	
}

#chartSearchWrapper{
	overflow: hidden;
	position: relative;

	min-height: 280px;
}

#chartSearchWrapper div, .boxHeader {
	box-sizing: border-box;
}

.cs_details_title {
	font-weight: bold;
	color: blue;
	margin: 20px 0 5px;
}

.cs-selected-row {
	background: #BBEE00 !important;

}

